<div class="form-page">
  <form [formGroup]="personForm">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Name</label>
              <input class="form-control" type="text" name="personName" formControlName="personName" />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Age</label>
              <input class="form-control" type="text" name="personAge" formControlName="personAge" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <button type="sumbit" (click)="onSaveClick()">Save</button>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div *ngFor="let person of personFormService.personList" class="col-sm-3">
          <span>{{person.name}} - {{person.age}}</span>
          <button title="delete" (click)="handleDeletePerson(person.id)">
            x</button>
        </div>
      </div>
    </div>
  </form>
</div>