.reactive-form {
    label {
        display: inline-block;
        width: 100px;
    }

    .btn-link {
    	font-size: 18px;
    	text-decoration: none;
    }

    .action-div > div {
    	display: inline-block;
    }
}