<header class="app-header">
  <a routerLink="/" class="app-logo">
    <span>Logo</span>
  </a>

  <div class="float-right">
    <ul class="header-links clearfix">
      <li>
        <a routerLink="/">
          <span *ngIf="homeClicked">Home Clicked</span>
          <span *ngIf="!homeClicked">Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/users">
          <span>Users</span>
        </a>
      </li>
      <li>
        <a routerLink="/forms">
          <span>Forms</span>
        </a>
      </li>
      <li>
        <a routerLink="/logout">
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>
</header>