/* You can add global styles to this file, and also import other style files */
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ol, ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.cdk-overlay-container .mat-menu-panel {
    min-height: 0;
}

.mat-menu-content {
    padding: 10px 8px;
    font-size: 13px;
}